body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #EEEEEE;
    width: 625px;
    height: 450px;
    background-color: #1B244A;
    text-align: center;
    border: 1px solid red;
    border-radius: 15px;
     
    
}

p {
  background-color: #080001;
  font-size: 90px;
  font-family: "Keania One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: red;
  padding: 25px 50px;
  border: 1px solid red;
  border-radius: 15px;
  
  
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

button {
  font-family: "Alfa Slab One", sans-serif;
  font-size: 30px;
  padding: 5px 5px;
  border: 1px solid red;
  border-radius: 5px;
  
}

h1 {
  margin-top: 50px;
  font-weight: bolder;
  font-size: 40px
}

.reset {
  display: flex;
  
}

.home {
  padding-left: 40px;
  padding-right: 10px;
}
  
.guest {
  padding-right: 40px;
  padding-left: 10px;
}
 
